.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .card-body, footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img{
    height: 350px;
}

.card{
    padding: 0;
}

.botao {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
    background-color: #e761bd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-text{
    text-align: center;
}

#roda, .textorota, footer{
    background-color: #00dabd;
    color: #fff;
    text-align: center;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
